<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.magnus.edutech"
    android:versionCode="7"
    android:versionName="1.0.1" >

    <!--Users permissions -->
    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="22" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name="com.magnus.edutech.App.App">

        <activity
            android:name=".view.activities.SplashScreenActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activities.HomeScreenActivity"
            android:finishOnTaskLaunch="true"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateAlwaysHidden|adjustNothing"
            >
        </activity>
        <!--Login Activity -->

        <!--Registration Activity -->
        <activity
            android:name=".view.activities.RegistrationScreenActivity"
            android:screenOrientation="portrait"
            >
        </activity>
        <!-- Activity Price -->
        <activity
            android:name=".view.activities.PriceListScreenActivity"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity
            android:name=".view.activities.ActivityShowVideosFromVimeo"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".view.activities.VideoPlayScreenActivity"
            android:screenOrientation="landscape" >
        </activity>

         <activity
            android:name=".view.activities.StatusActivity"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".view.activities.WebViewActivity"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" >
        </activity>

    </application>


</manifest>
